.chatContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.chatContainer::after {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: var(--primary-color);
}

.chat {
}

.phoneForm {
}
